@import 'tailwindcss';
@import './variables.css';

@theme inline {
    --color-accent: var(--color-accent);
    --color-accent-dark: var(--color-accent-dark);
    --color-main-text: var(--color-main-text);
    --color-background-primary: var(--color-background-primary);
    --color-label-primary: var(--color-label-primary);
}

body {
    background-color: var(--color-background-primary);
    color: var(--color-main-text);
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}
